
* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Nav Bar */
.nav {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.home {
    color: #db183f;
}

.nav a {
    text-decoration: none;
    padding-left: 5px;
    font-weight: bold;
}

.nav a:hover {
    color:#1fd2db
}

/* Banner */
.banner {
    width: 100%;
    opacity: 0.8;
}

.banner:hover {
    opacity: 1;
}

/* Content 1 */
.content1 {
    display: flex;
    justify-content: center;
}

.box {
    text-align: center;
    width: 250px;
    padding: 15px;
}

.title {
    margin-bottom: 10px;
}

.con1Img{
    width: 100%;
}

.con1Img:hover {
    opacity: 0.8;
}

.desc {
    font-size: smaller;
}

/* header */
.header {
    text-align: center;
    padding: 25px;
}

/* gallery */
.gallery {
    display: flex;
    justify-content: center;
}

.gallery img {
    width: 22%;
    padding-left: 5px;
}

.gallery img:hover {
    opacity: 0.9;
    width: 22.1%;
}

/* Video gallery */
.video {
    background-color: #176982;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header2 {
    color: white;
    padding:10px;
}

.video iframe {
    margin-bottom: 10px;
}

.galDesc {
    color: white;
    padding: 15px;
    margin-bottom: 20px;
}

/* Location */
.location {
    background-color: #ab0962;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* footer */
.footer {
    width: 100%;
    background-color: #176982;
    display: flex;
}

.fPage ul {
    padding-top: 1%;
    padding-right: 50px;
    padding-left: 20px;
}

.fPage ul li {
    padding-top: 10px;
    margin: 10px;
    list-style-type: none;
}

.fPage ul li a{
    color: white;
    text-decoration: none;
    padding: 2%;
}

.fSocial ul {
    padding-top: 1%;
}

.fSocial ul li {
    padding-top: 10px;
    margin: 10px;
    list-style-type: none;
}

.fSocial ul li a {
    color: white;
    text-decoration: none;
    padding: 2%;
}

.copyright {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: #176982;
}