
<div class="nav">
  <a href="#" class="home">HOME -</a>
  <a href="#">ABOUT |</a>
  <a href="#photo">GALLERY |</a>
  <a href="#footer">CONTACT</a>
</div>

<!--Banner Img-->
<img src="../assets/img/banner1.jpg" alt="" class="banner"/>

<!--Content 1-->
<div class="content1">
  <div class="box">
      <h3 class="title">SERVICE</h3>
      <img src="../assets/img/work1.jpg" alt="" class="con1Img"/>
      <p class="desc">Computer programming is the process of designing and buidling
          an executable computer program to accomplish a specific 
          computing result
      </p>
  </div>

  <div class="box">
      <h3 class="title">PROGRAMMING</h3>
      <img src="../assets/img/work2.jpg" alt="" class="con1Img"/>
      <p class="desc">Programming involves tasks such as; analysis
          ,generating algorithms, profiling algorithms accuracy and
          resouce consumption
      </p>
  </div>

  <div class="box">
      <h3 class="title">SOURCE CODE</h3>
      <img src="../assets/img/work3.jpg" alt="" class="con1Img"/>
      <p class="desc">The source code of a program is written in one
          or more languages that are intelligible to programmers, 
          rather than machine code
      </p>
  </div>

  <div class="box">
      <h3 class="title">COMPLEX TASK</h3>
      <img src="../assets/img/work4.jpg" alt="" class="con1Img"/>
      <p class="desc">The purpose of programming is to find a sequence
          of instructions tha will automate the preformance of a task
      </p>
  </div> 
</div>

<!--Header-->
<h1 class="header" id="photo">PHOTO GALLERY</h1>

<!--Gallery-->
<div class="gallery">
  <img src="../assets/img/gallery1.jpg" alt=""/>
  <img src="../assets/img/gallery2.jpg" alt=""/>
  <img src="../assets/img/gallery3.jpg" alt=""/>
  <img src="../assets/img/gallery4.jpg" alt=""/>
</div>

<!--Video Gallery-->
<div class="video">
  <h1 class="header2">VIDEO GALLERY</h1>
  <iframe width="700" height="340" src="https://www.youtube.com/embed/XRrYicG34Qo" 
  title="YouTube video player" frameborder="0" allow="accelerometer; 
  autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <p class="galDesc">This is an introduction to business analytics... Interested in building your analytical skills? Microsoft Excel can be a key component of that.</p>
</div>

<!--Location-->
<div class="location">
  <h1 class="header2">OUR LOCATION</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45292.6700559694!2d20.3790245799077!3d44.805429924682386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a6f8ffefc5f23%3A0xe336943db1696421!2sDelta%20City!5e0!3m2!1sen!2srs!4v1665564067833!5m2!1sen!2srs" 
  width="700" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <p class="galDesc">The location of a business is the place where it is situated. There are a number of factors that need to be considered in choosing a location for a business. One of the earliest decisions any entrepreneur has to make is where to locate his or her business</p>
</div>

<!--Footer-->
<div class="footer" id="footer">
  <div class="fPage">
      <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#photo">Gallery</a></li>
          <li><a href="#footer">Contact</a></li>
      </ul>
  </div>

  <div class="fSocial">
      <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">LinkedIn</a></li>
      </ul>
  </div>
</div>

<p class="copyright">2022 @Brandon Burton - 2021230433</p>
